@CHARSET "UTF-8";
/* Sticky footer styles
      -------------------------------------------------- */
html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,#footer {
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Custom page CSS
      -------------------------------------------------- */
/* Not required for template or sticky footer method. */
#wrap>.container {
	
}

.container .credit {
	margin: 20px 0;
}

code {
	font-size: 80%;
}

/* Formulário Contato */

.formContato ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.formContato li {
	float: left;
	width: 50%;
	margin-bottom: 20px;
}

.formContato li label {
	display: block;
	font-size: 14px;
	color: #333333;
	margin-bottom: 5px;
}

.formContato li input {
	width: 93%;
	height: 36px;
	border: 1px solid #d9d9d9;
	padding-left: 2%;
}

.formContato li textarea {
	width: 93%;
	border: 1px solid #d9d9d9;
	height: 100px;
	padding: 2% 0 0 2%;
}

.formContato button {
	text-align: center;
	color: #fff;
	text-decoration:none;
	display: block;
	background: #006CCC;
	width: 97%;
	border: 1px solid #d9d9d9;
	font-size: 14px;
	padding: 10px 0;
	cursor: pointer;
}

.formContato ::-webkit-input-placeholder { /* WebKit browsers */
    color:    #ccc;
}
.formContato :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ccc;
}
.formContato ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ccc;
}
.formContato :-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #ccc;
}

.contato {
	max-width: 1150px;
	margin: 0px auto;
	height: 500px;
	text-align: left; /* "remédio" para o hack do IE */ 
}

.contato h2 {
	font-size: 60px;
	font-weight: 100;
	font-family: 'Roboto',sans-serif;
    color: #2c2e7f;
    margin-bottom: 30px;
    margin-top: 50px;
}

.rodapeContato {
	border: 1px solid;
}



	
